.section1_wrapper {
  background: rgb(216, 124, 124);
  background-image: url('../images/predator.jpg');
  background-position: center;
  background-size: cover;
  color: wheat;
}

.arrow_wrapper img {
  background-color: wheat;
  margin-right: 10px;
  height: 20px;
}

.container {
  widows: 292px;
  margin: 0 auto;
}

.section1 {
  padding: 100px 0;
}

.arrow_wrapper {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 30px 0;
}

.arrow_img {
  display: flex;
}

.arrow_text {
  display: flex;
  margin: 0;
}

.btn {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  background: wheat;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
}

.btn img {
  width: 30px;
  height: 30px;
}

.pictures {
  display: block;
  // position: relative;
}

.picture_1 {
  z-index: 1;
  // position: absolute;
  position: relative;
}

.picture_2 {
  width: 80px;
  z-index: 2;
  position: absolute;
}

@media (min-width: 768px) {
  .container {
    width: 708px;
    margin: 0 auto;
  }
}
